body
{
	padding: 0;
	margin: 0 ;
	background-color: #838383; 
}
#container
{
	padding: 0;
	margin: 0 ;
	font-family: sans-serif;
}

#header
{
	margin: 0;
	padding: 20px;
	background: #222;
	height:50px;

}

#header h1 { width:100%;text-align:center;color:#FFF;font-family:arial;line-height:0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	height: 400px;
	float: left;
	padding: 0%;
	margin: 1%;
	width: 64%;
	min-width: 820px;
	background-color: #fff;
}

#edito h2
{
	color: #555;
	font-size: 160%;
	margin: 20px 0 .5em;
}

div.element
{
	float: left;
	width: 31%;
	min-width: 400px;
	height: 400px;
	overflow-y: scroll;
	margin: 1%;
	padding: 0%;
	background-color: #fff;
}
div.element a
{
text-decoration:none;
color:#00CCFF ;
}
div.element img
{
	background-color : #fff;
	float: right;
	width: 40%;
	margin: 5%;
	border: 1px solid #000;
	padding: 5px 5px 20px 5px;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-moz-transform:rotate(7deg); /* Firefox */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
	-o-transform:rotate(7deg); /* Opera */
}

p
{
	margin: 20px;
	text-align: justify;
}

h2,h3
{
	color: #555;
	font-size: 160%;
	margin: 20px 0 .5em;
	text-align:center;
}

#footer
{
	clear: both;
	background: #222;
	text-align: left;
	font-weight: bold;
	padding: 20px;
	height: 1%;
	background-image: url('bas.jpg');
	background-repeat: no-repeat;
	background-size: cover ;
	background-position:center; 
}
